<ul class="responsive-table-pagination pagination">
  <li [ngClass]="{'disabled': searchResult.page === 1}">
    <a href="javascript:void(0)" aria-label="Previous" (click)="goToPage(searchResult.page - 1)">
      <span aria-hidden="true">&laquo;</span>
    </a>
  </li>
  <li *ngIf="searchResult.page > 2">
    <a href="javascript:void(0)" (click)="goToPage(1)">1</a>
  </li>
  <li class="disabled" *ngIf="searchResult.page > 3">
    <a href="javascript:void(0)">...</a>
  </li>
  <li *ngIf="searchResult.page > 1">
    <a href="javascript:void(0)" (click)="goToPage(searchResult.page - 1)">{{searchResult.page - 1}}</a>
  </li>
  <li class="active">
    <a href="javascript:void(0)" (click)="goToPage(searchResult.page)">{{searchResult.page}}</a>
  </li>
  <li *ngIf="searchResult.page < searchResult.pages">
    <a href="javascript:void(0)" (click)="goToPage(searchResult.page + 1)">{{searchResult.page + 1}}</a>
  </li>
  <li class="disabled" *ngIf="searchResult.page < searchResult.pages - 2">
    <a href="javascript:void(0)">...</a>
  </li>
  <li *ngIf="searchResult.page < searchResult.pages - 1">
    <a href="javascript:void(0)" (click)="goToPage(searchResult.pages)">{{searchResult.pages}}</a>
  </li>
  <li [ngClass]="{'disabled': searchResult.page === searchResult.pages}">
    <a  href="javascript:void(0)" aria-label="Next" (click)="goToPage(searchResult.page + 1)">
      <span aria-hidden="true">&raquo;</span>
    </a>
  </li>
</ul>